[Desktop Entry]
Encoding=UTF-8
Icon=drive-harddisk
Type=Service
ServiceTypes=KPluginInfo

Name=IMSM structure
Comment=The structure of Intel Software RAID

X-KDE-PluginInfo-Author=Iavael
X-KDE-PluginInfo-Email=iavaelooeyt@gmail.com
X-KDE-PluginInfo-Name=imsm
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/iavael/okteta-imsm
X-KDE-PluginInfo-Category=structure
X-KDE-PluginInfo-License=GPLv3+
X-KDE-PluginInfo-EnabledByDefault=false

